html, body {
margin: 0;
padding: 0;
min-width: 720px;
font-family: Verdana,Arial,sans-serif; 
font-size: .9em;
height: 100%;
}

a {
padding: .1em;
text-decoration: none;
position: relative;
}

h1 { 
font-size:larger;
padding: .2em;
margin: 0;
}

h2 { 
font-size:smaller; 
padding: .2em;
margin: 0;
}

h3 {
font-size:small;
padding: .2em;
margin: 0;
}

ul {
list-style: none;
text-align: left;
margin:5px;
padding:0;
}

ul li {
margin:0;
padding:0;
width: 250px;
cursor:pointer;
}

li.selected {
background:#A4FF6B;
}

div#button {
border:0px solid #E6E6D1;
width:20px;
height:21px;
position:absolute;
margin-top:95px;
margin-left:11px;
z-index:998;
cursor:pointer;
}

.hidden {
display:none;
}

div#close {
float:right;
color:red;
cursor:pointer;
}

#header {
font-size: 1em;
font-weight:bold;
}

#menu {
background:#E6E6D1;
margin-top:8px;
margin-left:35px;
padding:8px;
width:275px;
height:130px;
position:absolute;
border:1px solid black;
z-index:999;
border-radius:6px;
}

#map {
padding:0;
margin:0;
}

#providedby, 
#output, 
#checkout {
font-size:x-small;
}

.infowindow {
width:500px;
height:auto;
}

.infowindow img {
width:80px;
height:80px;
}

